# Natural Langauge Toolkit
nltk

# Configuration - YAML
pyyaml

#AI ML
aiml

# Google SyntaxNet 
protobuf == 3.0.0b2
asciitree
numpy
https://storage.googleapis.com/tensorflow/mac/tensorflow-0.8.0-py2-none-any.whl

# Twitter API
tweepy

# DB
SQLAlchemy
Mysql-python

